/**
定义一些全局css
example =>theme 背景色 追加.theme
**/
.theme {
    background-color: #2e3343
}

body {
    background-color: rgba(249, 250, 252, 1) !important;
}

img[src=""] {
    opacity: 0;

}

* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

#app {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    text-align: left;
    color: #2c3e50;
    height: 100%;
    /*min-width: 1280px;*/
    font-size: 14px;
}

//全局div阴影
.div_shadow {
    border-radius: 0.08rem;
    border: 1px solid #ebeef5;
    background-color: rgba(255, 255, 255, 1);
    ;
    //    overflow: hidden;
    box-shadow: 0px 0.04rem 0.08rem 0px rgba(0, 0, 0, 0.27);
    color: #303133;
}

//全局背景色
.background {
    background: linear-gradient(225deg, rgba(36, 118, 227, 1) 0%, rgba(75, 157, 244, 1) 100%);
}

//全局超出出现。。。
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
